// vars and mixins
@import 'modules/vars.scss';
@import 'modules/mixins.scss';

// main modules
@import "modules/_fonts.scss";
@import "modules/_card.scss";
@import "modules/_buttons";

body {
    background-color: #e6e6e6;
    color: rgb(66, 66, 66);

    h1 { 
        font-family: PlayfairDisplay; 
        font-size: 5em; 
        text-align: center;
        color: black;
    }
}

@media screen and (min-width: 768px) {
    h1 { font-size: 14em; }
}